/*
*   COLORS
*/


/*
*   FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$title-font: 'Crimson Text', serif;
$main-font: 'Poppins', sans-serif;

/*
*   BREAKPOINT
*/
$large-desktop: 1440px;
$small-desktop: 950px;
$tablet: 768px;
$mobile: 480px;