.not-found {
  h2,
  p {
    color: var(--text-color);
    font-family: $main-font;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
  }

  p {
    line-height: 1.8rem;
  }

  a {
    padding: 10px 20px;
    border: 1px solid $azure;
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    span {
      color: $azure;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      font-weight: bold;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    &:hover {
      opacity: 1;

      &::before {
        background-color: $azure;
        width: 100%;
      }

      span {
        color: white;
      }
    }
  }
}
