.about {
  h2,
  p {
    color: var(--text-color);
    font-family: $main-font;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  h2{
    margin-bottom: 30px;
    font-size: 26px;
  }

  p{
    line-height: 1.8rem;
  }

  a{
    color: $azure;
    font-weight: bold;
  }
}